<link rel="stylesheet" href="{{ 'swiper.min.css' | asset_url }}">
<script src="{{'swiper.min.js' | asset_url}}"></script>
<div class="tenth-page">
  <div class="tenth-banner">
    <div class="swiper-container tenth-page-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-page-banner-new.jpg?v=1666145326" alt="">
          <img class="mob-image mob-image-width" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-page-mob-banner-new.jpg?v=1666145325" alt="">
          {% comment %} <div class="banner-text">
            <div class="banner-title">Explore Further With Jackery Solar</div>
            <div class="banner-subtitle">Jackery 10th Anniversary </div>
          </div> {% endcomment %}
        </div>
      </div>
      <!-- Add Arrows -->
      <!-- <div class="swiper-button-next swiper-button-black"></div>
      <div class="swiper-button-prev swiper-button-black"></div>
      <div class="swiper-pagination"></div> -->
    </div>
  </div>
  <div class="video-wrap">
    <video id="tenthVideo" src="https://r.jackery.net/app/ten_year/video/en_jackery_pc.mp4" poster="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/0c485e759453589b882f9509dae8753d.png?v=1664358750" loop muted playsinline></video>
  </div>
  <div class="tenth-milestones tenth-main-content">
    <div class="title">{{ 'tenth.pages.milestones' | t }}</div>
    <div class="milestones-wrap">
      <div class="milestones-box">
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2012.png?v=1665649636" alt=""></div>
          <div class="year">2012</div>
          <div class="descript">{{ 'tenth.pages.milestones_2012' | t }}</div>
        </div>
        <span class="milestones-icon">
          <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-icon.png?v=1665649635" alt="">
        </span>
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2015.png?v=1665649636" alt=""></div>
          <div class="year">2015</div>
          <div class="descript">{{ 'tenth.pages.milestones_2015' | t }}</div>
        </div>
        <span class="milestones-icon">
          <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-icon.png?v=1665649635" alt="">
        </span>
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2018.png?v=1665649636" alt=""></div>
          <div class="year">2018</div>
          <div class="descript">{{ 'tenth.pages.milestones_2018' | t }}</div>
        </div>
      </div>
      <div class="milestones-box">
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2020.png?v=1665649636" alt=""></div>
          <div class="year">2020</div>
          <div class="descript">{{ 'tenth.pages.milestones_2020' | t }}</div>
        </div>
        <span class="milestones-icon">
          <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-icon.png?v=1665649635" alt="">
        </span>
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2022-01.png?v=1665649636" alt=""></div>
          <div class="year">2022</div>
          <div class="descript">{{ 'tenth.pages.milestones_2022_01' | t }}</div>
        </div>
        <span class="milestones-icon">
          <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-icon.png?v=1665649635" alt="">
        </span>
        <div class="item">
          <div class="img"><img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2022-02.png?v=1665649635" alt=""></div>
          <div class="year">2022</div>
          <div class="descript">{{ 'tenth.pages.milestones_2022_02' | t }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="tenth-milestones-mob">
    <div class="item-wrap">
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2012.png?v=1665649636" alt="">
        <div class="year">2012</div>
        <div class="descript">{{ 'tenth.pages.milestones_2012' | t }}</div>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2015.png?v=1665649636" alt="">
        <div class="year">2015</div>
        <div class="descript">{{ 'tenth.pages.milestones_2015' | t }}</span></div>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2018.png?v=1665649636" alt="">
        <div class="year">2018</div>
        <div class="descript">{{ 'tenth.pages.milestones_2018' | t }}</div>
      </div>
    </div>
    <div class="title">Milestones</div>
    <div class="item-wrap">
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2022-02.png?v=1665649635" alt="">
        <div class="year">2022</div>
        <div class="descript">{{ 'tenth.pages.milestones_2022_02' | t }}</div>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2022-01.png?v=1665649636" alt="">
        <div class="year">2022</div>
        <div class="descript">{{ 'tenth.pages.milestones_2022_01' | t }}</div>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-milestones-2020.png?v=1665649636" alt="">
        <div class="year">2020</div>
        <div class="descript">{{ 'tenth.pages.milestones_2020' | t }}</div>
      </div>
    </div>
  </div>
  <div class="tenth-first-customer tenth-main-content">
    <div class="title">Customers Come First , As Always</div>
    <div class="subtitle">
      <div>Your continuous support has made us who we are today.</div>
      <div>We've prepared special gifts for 10 loyal customers.</div>
    </div>
    <div class="first-customer-wrap">
      <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-first-customer.png?v=1666767670" alt="">
      <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-first-customer-mob.png?v=1666838650" alt="">
    </div>
  </div>
  <div class="tenth-voice-customer tenth-main-content">
    <div class="title">Voice from Our Customers</div>
    <div class="swiper-container tenth-voice-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-1.png?v=1666770124" alt="">
          <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-mob1.jpg?v=1666856597" alt="">
        </div>
        <div class="swiper-slide">
          <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-2.png?v=1666770124" alt="">
          <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-mob2.jpg?v=1666856597" alt="">
        </div>
        <div class="swiper-slide">
          <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-3.png?v=1666770124" alt="">
          <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-mob3.jpg?v=1666856598" alt="">
        </div>
        <div class="swiper-slide">
          <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-4.png?v=1666770124" alt="">
          <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-voice-mob4.jpg?v=1666853996" alt="">
        </div>
      </div>
      <div class="swiper-button-next swiper-button-black"></div>
      <div class="swiper-button-prev swiper-button-black"></div>
    </div>
  </div>
  <!-- <div class="tenth-cart-wrap">
    <div class="title">In Last 10 years we keep going with Customer-first philosophy</div>
    <div class="subtitle">Give back our first customers with longterm thankfulness</div>
    <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/e60c268451ada9f1dc811cedb115d958.png?v=1664361278" alt="">
  </div> -->
  <!-- <div class="tenth-prizes-box J-tenth-prizes-box">
    <div class="title">10-YEAR 领取你的奖品<span class="J-prizes-title"></span></div>
    <div class="gift-top">
      <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_3c70664a-f5cc-4282-b950-eecd3160f23b.png?v=1664177680" alt="">
    </div>
    <div class="gift-content">
      <img class="J-tenth-page-prizesImg" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/f38cda901b1dbdef11b7a54106790b93.png?v=1663833170" alt="">
    </div>
    <div class="gift-bottom">
      <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/cacbf9dcae4c5da505caf190daf13503.png?v=1664177481" alt="">
    </div>
    <div class="gift-time J-gift-time">2022/09/20-2022/10/0</div>
    <div class="gift-code">
      <div class="code">CODE: <span class="J-tenth-page-code">XSCDSSASASAC</span></div>
      <div class="copy J-tenth-page-copy">COPY<span class="copy-tip J-tenth-page-codeTip">success!</span></div>
    </div>
  </div> -->
  <div class="tenth-join-now">
    <div class="join-wrap">
      <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-join-now.png?v=1665651817" alt="">
      <img class="mob-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-join-now-mob.png?v=1665718264" alt="">
      <div class="text-box">
        <div class="title">{{ 'tenth.pages.join_title' | t }}</div>
        <div class="text">{{ 'tenth.pages.join_text_01' | t }}</div>
        <div class="text">{{ 'tenth.pages.join_text_02' | t }}</div>
        <div class="join-btn J-tenth-button">{{ 'tenth.pages.join_now' | t }}</div>
      </div>
    </div>
  </div>
  <div class="tenth-product">
    <div class="pc-product-title">
      <div class="title">{{ 'tenth.pages.product_title_01' | t }}</div>
      <div class="title">{{ 'tenth.pages.product_title_02' | t }}</div>
    </div>
    <div class="title mob-product-title">{{ 'tenth.pages.product_title_mob' | t }}</div>
    <div class="tab-wrap-btn J-tenth-tab">
      <div data-product-id="E2000PRO" class="button active">E2000 PRO</div>
      <div data-product-id="E1500" class="button">E1500</div>
      <div data-product-id="E1000PRO" class="button">E1000 PRO</div>
      <div data-product-id="E500" class="button">E500</div>
      <div data-product-id="E300" class="button">E300</div>
    </div>
    <div class="tab-wrap-mob-btn J-tenth-mob-tab">
      <div class="mob-tab-box">
        <div data-product-id="E2000PRO" class="button active">E2000 PRO</div>
        <div data-product-id="E1500" class="button">E1500</div>
        <div data-product-id="E1000PRO" class="button">E1000 PRO</div>
        <div class="option-btn J-tenth-down">
          <img class="down" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_02b53aaf-9204-4e16-9767-a1e37bf3ffb6.png?v=1664518836" alt="">
          <img class="up" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_1_ce7d7ea2-7e94-4d00-b767-ba134497663f.png?v=1664518836" alt="">
        </div>
      </div>
      <div class="mob-button-tab J-mob-tab">
        <div data-product-id="E500" class="button">E500</div>
        <div data-product-id="E300" class="button">E300</div>
      </div>
    </div>
    <div class="tab-wrap-content J-tenth-showProduct">
      <div class="img-wrap">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-product-E2000pro.png?v=1665653632" alt="">
        <a target="_blank" href="/products/explorer-2000-pro-portable-power-station"></a>
      </div>
    </div>
  </div>
  <div class="tenth-product-swiper tenth-main-content">
    <div class="swiper-container tenth-product-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-item">
            <div class="item-image">
              <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-SG2000pro.png?v=1665658689" alt="">
              <a target="_blank" href="/products/solar-generator-2000-pro"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="item-image">
              <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-SG1500.png?v=1665658689" alt="">
              <a target="_blank" href="/products/jackery-solar-generator-1500-jackery-1500-4-x-solarsaga-100w"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="item-image">
              <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-SG1000_pro.png?v=1665658689" alt="">
              <a target="_blank" href="/products/solar-generator-1000-pro"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="item-image">
              <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-SG500.png?v=1665658689" alt="">
              <a target="_blank" href="/products/jackery-explorer-500-solarsaga-100w-solar-generator"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="item-image">
              <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-SG300.png?v=1665658689" alt="">
              <a target="_blank" href="/products/jackery-explorer-300-solarsaga-100w-solar-generator"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>
  </div>
  <div class="share-wrap tenth-main-content">
    <div class="title">Share Your Story with Jackery</div>
    <div class="subtitle">
      <div>Post & Tag Us on Social Media</div>
      <div>Win Amazing Prizes!</div>
    </div>
    <div class="share-btn">
      <div class="J-tenth-ins"><span>Share to Win</span> <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-INS.png?v=1665712333" alt=""></div>
      <div class="J-tenth-fb"><span>Share to Win</span> <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-FB.png?v=1665712332" alt=""></div>
    </div>
    <div class="share-img">
      <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-share-img.png?v=1665712333" alt="">
    </div>
  </div>
  <!-- <div class="tenth-content">
    <img class="pc-image" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/e9062818173132df5fa2c1489d6fa850.png?v=1664422074" alt="">
    <img class="mob-image mob-image-width" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/20.png?v=1664441078" alt="">
  </div> -->
  <div class="tenth-content tenth-main-content">
    <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-credentials.png?v=1665712915" alt="">
  </div>
  <div class="tenth-rules tenth-main-content">
    <div class="rules-box">
      <div class="title">Event Rules<span class="J-tenth-rule-btn">+</span></div>
      <div class="rule-text J-tenth-rule-text">
        <p>1. Event Date: 10/18/2022 ~ 12/18/2022</p>
        <p>2. To open the lucky gift box, you are required to submit an email address. Follow the instructions to get your prize. If you win, the reward details will be sent to your email.</p>
        <p>3. Each participant can enter once with one email address only. One IP address qualifies for limited prizes. When error occurs by entering your email, please refresh the page or enter a different email address.</p>
        <p>4. If you win an item, you can claim it immediately on the checkout page with the relevant promo code and email address. The reward will be delivered to you shortly after.</p>
        <p>Alternatively, you'll receive a link and a code from us via email. Simply click the link that will take you to the product page. Choose [buy it now] and copy-paste the relevant promo code and email address to claim your reward.</p>
        <p>5. If you win a coupon, you can choose to redeem it immediately or to find it in your email. To redeem your reward now or later, copy-paste the relevant coupon code and email address on the checkout page.</p>
        <p>6. It is recommended to claim your reward as soon as possible, as all coupons expire in 30 days from the date that the email is sent to you.</p>
        <p>7. All coupons in this event cannot be used with other promotional activities, and a coupon applies to one order only.</p>
        <p>8. Coupons are applicable to orders with minimum order amount requirements. Please check the coupon code information in the email for details.</p>
        <p>9. If you share your story on Jackery's social media platforms, you have an oppotunity to win prizes. Rules of the activity will be displayed on the official social media platforms.</p>
        <p>10. The Exclusive 10-Year Warranty Service for the 10 loyal customers is available for all orders of Jackery products you placed during the last decade；</p>
        <p>11. The Exclusive 10-Year Warranty Service is valid from Oct 31, 2022 to Oct 31, 2032;</p>
        <p>12. This limited gift card can be used to purchase all of the products on Jackery's Official Website;</p>
        <p>13. This limited gift card is valid until December 31, 2023, please make sure to use it at https://www.jackery.com within the validity period;</p>
        <p>14. If you have any queries, please contact our customer service team.</p>
        <p>Telephone Hotline: 1-888-502-2236 （US only）</p>
        <p>Email: hello@jackery.com</p>
        <p>15. All final interpretations lie solely with Jackery.</p>
        <p>16. This activity applies to Jackery's Terms and Privacy policy.</p>
      </div>
    </div>
  </div>
  <div class="tenth-prizes-pop J-prizes-pop">
    <div class="tenth-prizes-wrap">
      <div class="close-btn J-tenth-prizes-close">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/X.png?v=1663318075" alt="">
      </div>
      <div class="title">{{ 'tenth.success_title' | t }}</div>
      <div class="subtitle">{{ 'tenth.success_subtitle' | t }}</div>
      <div class="tenth-prizes-img J-tenth-prizes-img">
        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/banner_1.png?v=1660892591" alt="">
      </div>
      <div class="coupon-text J-tenth-coupon-text">
        <div class="coupon-title"><span class="item-icon"></span>{{ 'tenth.order_over' | t }} <span class="J-tenth-limit">$2000</span></div>
        <div class="coupon-item"><span class="item-icon"></span><span>{{ 'tenth.valid_time' | t }}: </span><span class="J-tenth-time">2022/09/22 ~ 2022/10/23</span></div>
        <div class="coupon-item"><span class="item-icon"></span>{{ 'tenth.coupons_tip' | t }}</div>
      </div>
      <div class="code-tip J-code-tip">
        <div>
          {{ 'tenth.coupons_code' | t }}
          <span class="tenth-code">
            <span class="J-tenth-code" dom-type="coupon"></span>
            <span class="copy-tip J-tenth-code-tip">copy success!</span>
          </span>
          <div>{{ 'tenth.checkout_page' | t }}</div>
          <div>{{ 'tenth.send_email' | t }}</div>
        </div>
        <!-- <div>{{ 'tenth.to' | t }}<span class="tenth-code tenth-code-tip">{{ 'tenth.rewards' | t }}</span>{{ 'tenth.checkout_page' | t }}</div> -->
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .tenth-page .tenth-main-content {
    max-width: 1392px;
  }
  .tenth-page .mob-image {
    display: none;
  }
  .tenth-page .tenth-milestones-mob {
    display: none;
  }
  .tenth-page img {
    width: 100%;
  }
  .tenth-page .tenth-banner .swiper-slide {
    position: relative;
  }
  .tenth-page .tenth-banner .banner-text {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .tenth-page .tenth-banner .banner-title {
    font-size: 80px;
    font-weight: 700;
    color: #4C4948;
    line-height: 100px;
  }
  .tenth-page .tenth-banner .banner-subtitle {
    font-size: 56px;
    color: #4C4948;
    line-height: 70px;
  }
  .tenth-page .video-wrap video{
    width: 100%;
  }
  .tenth-page .tenth-milestones {
    width: 100%;
    margin: 94px auto 0;
  }
  .tenth-page .tenth-milestones .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 60px;
    text-align: center;
  }
  .tenth-page .milestones-wrap {
    margin-top: 65px;
  }
  .tenth-page .milestones-wrap .milestones-box {
    display: flex;
    justify-content: space-between;
  }
  .tenth-page .milestones-wrap .milestones-icon img {
    margin-top: 78px;
  }
  .tenth-page .milestones-wrap .milestones-box .item {
    margin-bottom: 65px;
    padding: 0 20px;
  }
  .tenth-page .milestones-wrap .milestones-box .year {
    font-size: 50px;
    font-family: Manrope3;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 40px;
    opacity: 0.3;
    margin-top: 22px;
  }
  .tenth-page .milestones-wrap .milestones-box .descript {
    max-width: 320px;
    font-size: 22px;
    color: #4C4C4C;
    line-height: 30px;
    margin-top: 20px;
  }
  .tenth-page .milestones-wrap .milestones-box .item .img {
    overflow: hidden;
  }
  .tenth-page .milestones-wrap .milestones-box .item img {
    transition: all 0.6s;
  }
  .tenth-page .milestones-wrap .milestones-box .item img:hover {
    transform: scale(1.1);
  }
  .tenth-page .tenth-cart-wrap {
    text-align: center;
    margin-top: 120px;
  }
  .tenth-page .tenth-cart-wrap .title {
    font-size: 72px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 90px;
    padding: 0 88px;
  }
  .tenth-page .tenth-cart-wrap .subtitle {
    font-size: 67px;
    color: #4C4C4C;
    line-height: 111px;
  }
  .tenth-page .tenth-join-now {
    text-align: center;
    margin-top: 100px;
  }
  .tenth-page .tenth-join-now .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 72px;
  }
  .tenth-page .tenth-join-now .join-wrap {
    position: relative;
  }
  .tenth-page .tenth-join-now .text-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 20px;
  }
  .tenth-page .tenth-join-now .text-box .text {
    font-size: 42px;
    color: #4C4C4C;
    line-height: 38px;
    margin-top: 28px;
  }
  .tenth-page .tenth-join-now .text-box .join-btn {
    width: 224px;
    height: 56px;
    background: #FD5000;
    border-radius: 28px;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 56px;
    margin: 35px auto;
    cursor: pointer;
  }
  .tenth-page .tenth-product {
    margin-top: 113px;
  }
  .tenth-page .tenth-product .mob-product-title {
    display: none;
  }
  .tenth-page .tenth-product .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 83px;
    text-align: center;
    padding: 0 20px;
  }
  .tenth-page .tab-wrap-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
  }
  .tenth-page .tab-wrap-btn .button {
    width: 20%;
    height: 80px;
    background: #E8E9ED;
    font-size: 32px;
    color: #4C4C4C;
    line-height: 80px;
    text-align: center;
    margin-right: 2px;
    cursor: pointer;
  }
  .tenth-page .tab-wrap-btn .active {
    background: #FD5000;
    color: #FFFFFF;
    font-weight: 700;
  }
  .tenth-page .tab-wrap-btn .button:last-of-type {
    margin-right: 0;
  }
  .tenth-page .tab-wrap-content .img-wrap {
    position: relative;
  }
  .tenth-page .tab-wrap-content .img-wrap a {
    position: absolute;
    bottom: 5%;
    left: 17%;
    z-index: 9;
    width: 400px;
    height: 200px;
  }
  .tenth-page .tab-wrap-mob-btn {
    display: none;
  }
  .tenth-page .tenth-product-swiper {
    margin: 90px auto 0;
    padding: 0 20px;
    position: relative;
  }
  .tenth-page .tenth-product-swiper .swiper-button-prev {
    left: -26px;
    transform: scale(0.6);
  }
  .tenth-page .tenth-product-swiper .swiper-button-next {
    right: -20px;
    transform: scale(0.6);
  }
  .tenth-page .tenth-product-swiper .product-item {
    width: auto;
    height: auto;
    max-width: 410px;
    box-sizing: content-box;
  }
  .tenth-page .tenth-product-swiper .product-item .item-image {
    position: relative;
  }
  .tenth-page .tenth-product-swiper .product-item .item-image a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 9;
  }
  .tenth-page .share-wrap {
    margin: 120px auto 0;
    padding: 0 20px;
    text-align: center;
  }
  .tenth-page .share-wrap .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 70px;
  }
  .tenth-page .share-wrap .subtitle {
    font-size: 42px;
    color: #4C4C4C;
    line-height: 67px;
  }
  .tenth-page .share-wrap .share-btn {
    display: flex;
    justify-content: center;
  }
  .tenth-page .share-wrap .share-btn div {
    width: 291px;
    height: 69px;
    background: #FD5000;
    border-radius: 34px;
    font-size: 34px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 69px;
    margin-right: 45px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .tenth-page .share-wrap .share-btn span {
    margin-right: 10px;
  }
  .tenth-page .share-wrap .share-btn img {
    width: 44px;
  }
  .tenth-page .share-wrap .share-img {
    margin-top: 73px;
  }
  .tenth-page .tenth-content {
    margin: 90px auto 0;
    text-align: center;
    padding: 0 20px;
  }
  .tenth-page .tenth-rules {
    margin: 90px auto 107px;
    padding: 0 20px;
  }
  .tenth-page .tenth-rules .title {
    width: 100%;
    height: 89px;
    background: #FD5000;
    font-size: 33px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 89px;
    padding: 0 28px 0 32px;
  }
  .tenth-page .tenth-rules .title span {
    float: right;
    cursor: pointer;
    font-weight: 400;
  }
  .tenth-page .tenth-rules .rule-text {
    width: 100%;
    height: auto;
    background: #F7F7F7;
    padding: 30px;
    display: none;
  }
  .tenth-page .tenth-rules .rule-text p {
    font-size: 19px;
    color: #4C4C4C;
    line-height: 44px;
  }
  .tenth-page .tenth-prizes-box {
    margin-top: 49px;
    padding: 0 60px;
    display: none;
  }
  .tenth-page .tenth-prizes-box .title {
    font-size: 72px;
    font-family: HelveticaNeueLTCom-BdCn, HelveticaNeueLTCom;
    font-weight: 700;
    color: #222222;
    line-height: 86px;
    text-align: center;
  }
  .tenth-page .tenth-prizes-box .gift-top {
    text-align: center;
    margin-top: 15px;
  }
  .tenth-page .tenth-prizes-box .gift-bottom {
    text-align: center;
    margin-top: 11px;
  }
  .tenth-page .tenth-prizes-box .gift-content {
    text-align: center;
    margin-top: 38px;
  }
  .tenth-page .tenth-prizes-box .gift-time {
    text-align: center;
    margin-top: 45px;
    font-size: 22px;
    font-weight: 700;
    font-family: HelveticaNeueLTCom-BdCn, HelveticaNeueLTCom;
    color: #222222;
    line-height: 26px;
  }
  .tenth-page .tenth-prizes-box .gift-code {
    margin-top: 29px;
    display: flex;
    justify-content: center;
  }
  .tenth-page .tenth-prizes-box .gift-code .code {
    width: 562px;
    height: 50px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #999999;
    border-right: none;
    line-height: 50px;
    padding: 0 22px;
    font-size: 20px;
    color: #333333;
  }
  .tenth-page .tenth-prizes-box .gift-code .copy {
    width: 130px;
    height: 50px;
    background: #FF5000;
    border-radius: 0px 4px 4px 0px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    position: relative;
  }
  .tenth-page .tenth-prizes-box .copy-tip {
    font-size: 12px;
    position: absolute;
    left: 40px;
    bottom: -40px;
    color: #52c41a;
    display: none;
  }
  .tenth-page .tenth-prizes-pop {
    width: 100%;
    height: 100vh;
    background: rgba(13, 13, 13, .7);
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: opacity 0.5s ease-out 0s;
    display: none;
  }
  .tenth-page .tenth-prizes-pop .tenth-prizes-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 880px;
    height: auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    min-height: 540px;
    max-width: 100%;
  }
  .tenth-page .tenth-prizes-pop .close-btn {
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
  }
  .tenth-page .tenth-prizes-pop .title {
    font-size: 38px;
    font-weight: 700;
    color: #222222;
    line-height: 48px;
    text-align: center;
  }
  .tenth-page .tenth-prizes-pop .subtitle {
    font-size: 20px;
    color: #222222;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 30px;
  }
  .tenth-page .tenth-prizes-pop .tenth-prizes-img {
    text-align: center;
    margin-top: 30px;
  }
  .tenth-page .tenth-prizes-pop .tenth-prizes-img img {
    width: 520px;
  }
  .tenth-page .tenth-prizes-pop .coupon-text {
    max-width: 400px;
    margin: 16px auto 0;
  }
  .tenth-page .tenth-prizes-pop .coupon-text .coupon-title {
    font-size: 16px;
    color: #666666;
    line-height: 19px;
  }
  .tenth-page .tenth-prizes-pop .coupon-text .coupon-title .item-icon {
    width: 6px;
    height: 6px;
    background: #666666;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
  }
  .tenth-page .tenth-prizes-pop .coupon-text .coupon-item {
    font-size: 16px;
    color: #666666;
    line-height: 19px;
    margin-top: 8px;
  }
  .tenth-page .tenth-prizes-pop .coupon-text .coupon-item .item-icon {
    width: 6px;
    height: 6px;
    background: #666666;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
  }
  .tenth-page .tenth-prizes-pop .code-tip {
    text-align: center;
    font-size: 18px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #222222;
    line-height: 35px;
    margin-top: 26px;
  }
  .tenth-page .tenth-prizes-pop .code-tip .tenth-code {
    color: #FF5000;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid #FF5000;
    position: relative;
  }
  .tenth-page .tenth-prizes-pop .code-tip .tenth-code-tip {
    border-bottom: none;
    cursor: default;
  }
  .tenth-page .tenth-prizes-pop .code-tip .copy-tip {
    font-size: 14px;
    position: absolute;
    left: 14px;
    bottom: -25px;
    color: #52c41a;
    white-space: nowrap;
    display: none;
  }
  .tenth-page .tenth-first-customer {
    width: 100%;
    margin: 40px auto 0;
  }
  .tenth-page .tenth-first-customer .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 60px;
    text-align: center;
  }
  .tenth-page .tenth-first-customer .subtitle {
    font-size: 42px;
    color: #4C4C4C;
    line-height: 67px;
    text-align: center;
    margin-top: 35px;
  }
  .tenth-page .tenth-first-customer .first-customer-wrap {
    margin-top: 74px;
  }
  .tenth-page .tenth-voice-customer {
    width: 100%;
    margin: 86px auto 0;
  }
  .tenth-page .tenth-voice-customer .title {
    font-size: 66px;
    font-weight: 700;
    color: #4C4C4C;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;
  }
  .tenth-page .tenth-voice-customer .swiper-button-next {
    background-image: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-swiper-right.png?v=1666770951');
    width: 21px;
    height: 38px;
    right: 29px;
    background-size: cover;
  }
  .tenth-page .tenth-voice-customer .swiper-button-prev {
    background-image: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/tenth-swiper-left.png?v=1666770950');
    width: 21px;
    height: 38px;
    left: 29px;
    background-size: cover;
  }

  @media screen and (min-width: 1401px) and (max-width: 1680px) {
    .tenth-page .tenth-main-content {
      max-width: 1218px;
    }
    .tenth-page .tenth-banner .banner-text {
      top: 100px;
    }
    .tenth-page .tenth-banner .banner-title {
      font-size: 60px;
      line-height: 72px;
    }
    .tenth-page .tenth-banner .banner-subtitle {
      font-size: 36px;
      line-height: 40px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 52px;
      line-height: 60px;
      padding: 0 40px;
      margin-bottom: 22px;
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 175px;
      height: 44px;
      border-radius: 22px;
      font-size: 27px;
      line-height: 44px;
      margin: 27px auto;
    }
  }
  @media screen and (min-width: 1181px) and (max-width: 1400px) {
    .tenth-page .tenth-main-content {
      max-width: 1015px;
    }
    .tenth-page .tenth-banner .banner-text {
      top: 80px;
    }
    .tenth-page .tenth-banner .banner-title {
      font-size: 55px;
      line-height: 60px;
    }
    .tenth-page .tenth-banner .banner-subtitle {
      font-size: 30px;
      line-height: 40px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 44px;
      line-height: 50px;
      padding: 0 40px;
      margin-bottom: 20px;
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 28px;
      line-height: 32px;
      margin-top: 0;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 149px;
      height: 37px;
      border-radius: 19px;
      font-size: 23px;
      line-height: 37px;
      margin: 23px auto;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1180px) {
    .tenth-page .tenth-banner .banner-text {
      top: 80px;
    }
    .tenth-page .tenth-banner .banner-title {
      font-size: 49px;
      line-height: 55px;
    }
    .tenth-page .tenth-banner .banner-subtitle {
      font-size: 34px;
      line-height: 40px;
    }
    .tenth-page .tenth-milestones {
      margin: 58px auto 0;
    }
    .tenth-page .tenth-milestones .milestones-wrap {
      margin-top: 40px;
      padding: 0 20px;
    }
    .tenth-page .tenth-milestones .title {
      font-size: 41px;
      line-height: 50px;
    }
    .tenth-page .milestones-wrap .milestones-box .year {
      font-size: 38px;
      line-height: 40px;
      margin-top: 12px;
    }
    .tenth-page .milestones-wrap .milestones-box .descript {
      font-size: 22px;
      line-height: 28px;
      margin-top: 10px;
    }
    .tenth-page .tenth-cart-wrap {
      margin-top: 106px;
    }
    .tenth-page .tenth-cart-wrap .title {
      font-size: 61px;
      line-height: 75px;
      padding: 0 53px;
    }
    .tenth-page .tenth-cart-wrap .subtitle {
      font-size: 41px;
      line-height: 68px;
    }
    .tenth-page .tenth-join-now {
      margin-top: 66px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 41px;
      line-height: 50px;
      padding: 0 40px;
      margin-bottom: 17px;
    }
    .tenth-page .tenth-join-now .join-wrap {
      margin-top: 20px;
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 26px;
      line-height: 32px;
      margin-top: 0;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 137px;
      height: 34px;
      border-radius: 17px;
      font-size: 22px;
      line-height: 34px;
      margin: 22px auto;
    }
    .tenth-page .tenth-product {
      margin-top: 69px;
    }
    .tenth-page .tenth-product .title {
      font-size: 41px;
      line-height: 50px;
    }
    .tenth-page .tab-wrap-btn {
      margin-top: 30px;
    }
    .tenth-page .tab-wrap-btn .button {
      height: 60px;
      font-size: 26px;
      line-height: 60px;
      margin-right: 2px;
    }
    .tenth-page .tenth-product-swiper {
      margin-top: 55px;
      padding: 0 40px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-prev {
      left: 12px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-next {
      right: 12px;
    }
    .tenth-page .share-wrap {
      margin-top: 74px;
      padding: 0 40px;
    }
    .tenth-page .share-wrap .title {
      font-size: 41px;
      line-height: 50px;
    }
    .tenth-page .share-wrap .subtitle {
      font-size: 26px;
      line-height: 30px;
      margin-top: 12px;
    }
    .tenth-page .share-wrap .share-btn div {
      width: 179px;
      height: 42px;
      border-radius: 21px;
      font-size: 22px;
      line-height: 42px;
      margin-right: 28px;
      margin-top: 30px;
    }
    .tenth-page .share-wrap .share-btn span {
      margin-right: 6px;
    }
    .tenth-page .share-wrap .share-btn img {
      width: 26px;
      height: 26px;
    }
    .tenth-page .share-wrap .share-img {
      margin-top: 45px;
    }
    .tenth-page .tenth-content {
      margin-top: 57px;
      padding: 0 40px;
    }
    .tenth-page .tenth-rules {
      margin: 55px 0 66px;
      padding: 0 40px;
    }
    .tenth-page .tenth-rules .title {
      width: 100%;
      height: 55px;
      font-size: 20px;
      line-height: 55px;
      padding: 0 20px;
    }
    .tenth-page .tenth-rules .rule-text {
      padding: 20px 18px;
    }
    .tenth-page .tenth-rules .rule-text p {
      font-size: 16px;
      line-height: 32px;
    }
    .tenth-page .tab-wrap-content img {
      width: 100%;
    }
    .tenth-page .tab-wrap-content .img-wrap a {
      width: 400px;
      height: 142px;
      bottom: auto;
      left: auto;
      right: 8%;
      top: 15%;
    }
    .tenth-page .tenth-first-customer {
      margin: 40px auto 0;
    }
    .tenth-page .tenth-first-customer .title {
      font-size: 41px;
      line-height: 50px;
    }
    .tenth-page .tenth-first-customer .subtitle {
      font-size: 26px;
      line-height: 32px;
      margin-top: 10px;
    }
    .tenth-page .tenth-first-customer .first-customer-wrap {
      margin-top: 46px;
    }
    .tenth-page .tenth-voice-customer {
      margin: 60px auto 0;
    }
    .tenth-page .tenth-voice-customer .title {
      font-size: 41px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .tenth-page .tenth-banner .banner-text {
      top: 52px;
    }
    .tenth-page .tenth-banner .banner-title {
      font-size: 34px;
      line-height: 40px;
    }
    .tenth-page .tenth-banner .banner-subtitle {
      font-size: 24px;
      line-height: 30px;
    }
    .tenth-page .tenth-milestones {
      margin-top: 43px;
      padding: 0 40px;
    }
    .tenth-page .tenth-milestones .title {
      font-size: 28px;
      line-height: 30px;
    }
    .tenth-page .milestones-wrap {
      margin-top: 28px;
    }
    .tenth-page .milestones-wrap .milestones-box {
      margin-top: 28px;
    }
    .tenth-page .milestones-wrap .milestones-icon img {
      margin-top: 60px;
    }
    .tenth-page .milestones-wrap .milestones-box .item {
      margin-bottom: 28px;
      padding: 0 10px;
    }
    .tenth-page .milestones-wrap .milestones-box .year {
      font-size: 36px;
      line-height: 40px;
      margin-top: 10px;
    }
    .tenth-page .milestones-wrap .milestones-box .descript {
      font-size: 22px;
      line-height: 28px;
      margin-top: 12px;
    }
    .tenth-page .tenth-cart-wrap {
      margin-top: 92px;
    }
    .tenth-page .tenth-cart-wrap .title {
      font-size: 53px;
      line-height: 65px;
      padding: 0 44px;
    }
    .tenth-page .tenth-cart-wrap .subtitle {
      font-size: 36px;
      line-height: 59px;
    }
    .tenth-page .tenth-join-now {
      margin-top: 46px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 28px;
      line-height: 32px;
      padding: 0 40px;
      margin-bottom: 12px;
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 20px;
      line-height: 30px;
      margin-top: 0;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 95px;
      height: 24px;
      border-radius: 12px;
      font-size: 15px;
      line-height: 24px;
      margin: 15px auto;
    }
    .tenth-page .tenth-product {
      margin-top: 48px;
      padding: 0;
    }
    .tenth-page .tenth-product .title {
      font-size: 28px;
      line-height: 32px;
    }
    .tenth-page .tab-wrap-btn {
      margin-top: 20px;
    }
    .tenth-page .tab-wrap-btn .button {
      height: 50px;
      font-size: 22px;
      line-height: 50px;
      margin-right: 1px;
    }
    .tenth-page .tenth-product-swiper {
      margin-top: 49px;
      padding: 0 45px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-prev {
      left: 16px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-next {
      right: 16px;
    }
    .tenth-page .share-wrap {
      margin-top: 51px;
      padding: 0 40px;
    }
    .tenth-page .share-wrap .title {
      font-size: 28px;
      line-height: 36px;
    }
    .tenth-page .share-wrap .subtitle {
      font-size: 18px;
      line-height: 22px;
      margin-top: 7px;
    }
    .tenth-page .share-wrap .share-btn div {
      width: 155px;
      height: 37px;
      border-radius: 18px;
      font-size: 18px;
      line-height: 37px;
      margin-right: 24px;
      margin-top: 26px;
    }
    .tenth-page .share-wrap .share-btn span {
      margin-right: 5px;
    }
    .tenth-page .share-wrap .share-btn img {
      width: 23px;
      height: 23px;
    }
    .tenth-page .share-wrap .share-img {
      margin-top: 39px;
    }
    .tenth-page .tenth-content {
      margin-top: 50px;
      padding: 0 40px;
    }
    .tenth-page .tenth-rules {
      margin: 48px 0 57px;
      padding: 0 40px;
    }
    .tenth-page .tenth-rules .title {
      width: 100%;
      height: 48px;
      font-size: 18px;
      line-height: 48px;
      padding: 0 17px;
    }
    .tenth-page .tenth-rules .rule-text {
      padding: 18px 16px;
    }
    .tenth-page .tenth-rules .rule-text p {
      font-size: 16px;
      line-height: 32px;
    }
    .tenth-page .tab-wrap-content img {
      width: 100%;
    }
    .tenth-page .tab-wrap-content .img-wrap a {
      width: 400px;
      height: 142px;
      bottom: auto;
      left: auto;
      right: 2%;
      top: 13%;
    }
    .tenth-page .tenth-first-customer {
      margin: 40px auto 0;
    }
    .tenth-page .tenth-first-customer .title {
      font-size: 28px;
      line-height: 32px;
    }
    .tenth-page .tenth-first-customer .subtitle {
      font-size: 20px;
      line-height: 25px;
      margin-top: 10px;
    }
    .tenth-page .tenth-first-customer .first-customer-wrap {
      margin-top: 46px;
    }
    .tenth-page .tenth-voice-customer {
      margin: 50px auto 0;
    }
    .tenth-page .tenth-voice-customer .title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    .tenth-page .pc-image {
      display: none;
    }
    .tenth-page .mob-image {
      display: block;
    }
    .tenth-page .mob-image-width {
      width: 100%;
    }
    .tenth-page .tenth-banner .banner-text {
      display: none;
    }
    .tenth-page .tenth-cart-wrap {
      margin-top: 44px;
    }
    .tenth-page .tenth-cart-wrap .title {
      font-size: 24px;
      line-height: 29px;
      padding: 0 18px;
    }
    .tenth-page .tenth-cart-wrap .subtitle {
      font-size: 18px;
      line-height: 23px;
      margin-top: 16px;
      padding: 0 18px;
    }
    .tenth-page .tenth-join-now {
      margin-top: 30px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 25px;
      line-height: 28px;
      padding: 0 18px;
      margin-bottom: 14px;
    }
    .tenth-page .tenth-join-now .join-wrap {
      position: static;
      display: flex;
      flex-direction: column-reverse;
    }
    .tenth-page .tenth-join-now .join-wrap img {
      transform: translateY(-70px);
    }
    .tenth-page .tenth-join-now .text-box {
      position: static;
      transform: none;
      z-index: 9;
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 15px;
      line-height: 24px;
      margin-top: 0;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 73px;
      height: 22px;
      border-radius: 11px;
      font-size: 13px;
      line-height: 22px;
      margin: 17px auto 0;
    }
    .tenth-page .tenth-milestones {
      display: none;
    }
    .tenth-page .tenth-milestones-mob {
      display: block;
      margin-top: 20px;
      padding: 0 18px;
    }
    .tenth-page .tenth-milestones-mob .item-wrap {
      display: flex;
      justify-content: space-between;
    }
    .tenth-page .tenth-milestones-mob .item {
      display: flex;
      flex-direction: column;
      margin-right: 18px;
      flex: 1;
    }
    .tenth-page .tenth-milestones-mob .item:last-of-type {
      margin-right: 0;
    }
    .tenth-page .tenth-milestones-mob .item img {
      min-width: 101px;
    }
    .tenth-page .tenth-milestones-mob .item .year {
      font-size: 24px;
      font-family: Manrope3;
      font-weight: 700;
      color: #4C4C4C;
      line-height: 36px;
      opacity: 0.3;
      margin-top: 8px;
      line-height: 22px;
    }
    .tenth-page .tenth-milestones-mob .item .descript {
      font-size: 12px;
      color: #4C4C4C;
      line-height: 14px;
      margin-top: 6px;
    }
    .tenth-page .tenth-milestones-mob .title {
      width: 100%;
      height: 76px;
      font-size: 25px;
      font-weight: 700;
      color: #4C4C4C;
      line-height: 76px;
      text-align: center;
      background: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/af1b99a2c37816a16f3bfcc10ab9eac7.png?v=1664002063');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 8px 0;
    }
    .tenth-page .tenth-product {
      margin-top: -45px;
    }
    .tenth-page .tenth-product .pc-product-title {
      display: none;
    }
    .tenth-page .tenth-product .mob-product-title {
      display: block;
    }
    .tenth-page .tenth-product .title {
      font-size: 24px;
      line-height: 29px;
      padding: 0 18px;
    }
    .tenth-page .tab-wrap-btn {
      margin-top: 12px;
      overflow-x: auto;
      /* display: block; */
      white-space: nowrap;
      font-size: 0;
      display: none;
    }
    .tenth-page .tab-wrap-btn .button {
      width: 37%;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      margin-right: 1px;
      display: inline-block;
    }
    .tenth-page .tab-wrap-content .img-wrap a {
      bottom: auto;
      left: auto;
      right: 2%;
      top: 11%;
      width: 200px;
      height: 80px;
    }
    .tenth-page .tab-wrap-mob-btn {
      display: block;
      margin-top: 12px;
      font-size: 0;
      position: relative;
    }
    .tenth-page .mob-tab-box {
      display: flex;
    }
    .tenth-page .tab-wrap-mob-btn .button {
      width: 30%;
      height: 30px;
      background: #E8E9ED;
      font-size: 15px;
      line-height: 30px;
      color: #4C4C4C;
      text-align: center;
      margin-right: 1px;
      display: inline-block;
    }
    .tenth-page .tab-wrap-mob-btn .option-btn {
      display: inline-block;
      width: 10%;
      height: 30px;
      line-height: 30px;
      background: #E8E9ED;
      text-align: center;
    }
    .tenth-page .tab-wrap-mob-btn .option-btn .down {
      width: 15px;
      height: 9px;
    }
    .tenth-page .tab-wrap-mob-btn .option-btn .up {
      display: none;
      width: 15px;
      height: 9px;
    }
    .tenth-page .tab-wrap-mob-btn .active {
      background: #FD5000;
      color: #FFFFFF;
    }
    .tenth-page .tab-wrap-mob-btn .button:last-of-type {
      margin-right: 0;
    }
    .tenth-page .mob-button-tab {
      position: absolute;
      width: 100%;
      padding: 13px 27px;
      background: #fff;
      display: none;
      text-align: center;
      z-index: 10;
    }
    .tenth-page .tab-wrap-mob-btn .mob-button-tab .button {
      width: 30%;
      height: 30px;
      line-height: 30px;
      border: 1px solid #979797;
      background: #fff;
      font-size: 15px;
      color: #4C4C4C;
      margin-right: 30px;
    }
    .tenth-page .tab-wrap-mob-btn .mob-button-tab .active {
      background: #FD5000;
      color: #FFFFFF;
      border: none;
    }
    .tenth-page .tab-wrap-content img {
      width: 100%;
    }
    .tenth-page .tenth-product-swiper {
      margin-top: 25px;
      padding: 0 28px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-prev {
      left: 5px;
      transform: scale(0.3);
    }
    .tenth-page .tenth-product-swiper .swiper-button-next {
      right: 5px;
      transform: scale(0.3);
    }
    .tenth-page .tenth-product-swiper .product-item {
      max-width: none;
    }
    .tenth-page .share-wrap {
      margin-top: 27px;
      padding: 0 10px;
    }
    .tenth-page .share-wrap .title {
      font-size: 25px;
      line-height: 28px;
    }
    .tenth-page .share-wrap .subtitle {
      font-size: 18px;
      line-height: 24px;
      margin-top: 15px;
    }
    .tenth-page .share-wrap .share-btn div {
      width: 102px;
      height: 24px;
      border-radius: 11px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      margin-right: 16px;
      margin-top: 17px;
    }
    .tenth-page .share-wrap .share-btn span {
      margin-right: 3px;
    }
    .tenth-page .share-wrap .share-btn img {
      width: 16px;
      height: 16px;
    }
    .tenth-page .share-wrap .share-img {
      margin-top: 24px;
    }
    .tenth-page .tenth-content {
      margin-top: 20px;
      padding: 0 18px;
    }
    .tenth-page .tenth-rules {
      margin: 14px 0 0;
      padding: 0; 
    }
    .tenth-page .tenth-rules .title {
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      padding: 0 18px;
    }
    .tenth-page .tenth-rules .rule-text {
      padding: 8px 18px 15px;
    }
    .tenth-page .tenth-rules .rule-text p {
      font-size: 13px;
      line-height: 18px;
    }
    .tenth-page .tenth-prizes-box {
      margin-top: 40px;
      padding: 0 18px;
    }
    .tenth-page .tenth-prizes-box .title {
      font-size: 25px;
      line-height: 30px;
    }
    .tenth-page .tenth-prizes-box .gift-bottom {
      margin-top: 10px;
    }
    .tenth-page .tenth-prizes-box .gift-content {
      margin-top: 11px;
    }
    .tenth-page .tenth-prizes-box .gift-time {
      margin-top: 22px;
      font-size: 16px;
      line-height: 19px;
    }
    .tenth-page .tenth-prizes-box .gift-code {
      margin-top: 20px;
    }
    .tenth-page .tenth-prizes-box .gift-code .code {
      width: 68%;
      height: 44px;
      border-radius: 2px 0 0 2px;
      line-height: 44px;
      padding: 0 12px;
      font-size: 16px;
    }
    .tenth-page .tenth-prizes-box .gift-code .copy {
      width: 32%;
      height: 44px;
      border-radius: 0px 2px 2px 0px;
      line-height: 44px;
      font-size: 16px;
    }
    .tenth-page .tenth-prizes-box .copy-tip {
      bottom: -30px;
    }
    .tenth-page .tenth-prizes-pop .tenth-prizes-wrap {
      bottom: 0;
      left: 0;
      top: auto;
      transform: translate(0, 0);
      width: 100%;
      max-width: 100%;
      height: auto;
      min-height: 600px;
      max-height: 100%;
      border-radius: 15px 15px 0px 0px;
      padding: 45px 20px 20px;
    }
    .tenth-page .tenth-prizes-pop .close-btn {
      top: 16px;
      right: 20px;
    }
    .tenth-page .tenth-prizes-pop .title {
      font-size: 25px;
      line-height: 30px;
    }
    .tenth-page .tenth-prizes-pop .subtitle {
      font-size: 15px;
      margin-top: 12px;
      line-height: 23px;
    }
    .tenth-page .tenth-prizes-pop .tenth-prizes-img {
      margin-top: 45px;
    }
    .tenth-page .tenth-prizes-pop .tenth-prizes-img img {
      width: 100%;
      max-width: 670px;
    }
    .tenth-page .tenth-prizes-pop .coupon-text {
      max-width: 100%;
      margin-left: 10px;
    }
    .tenth-page .tenth-prizes-pop .coupon-text .coupon-title {
      font-size: 18px;
      line-height: 22px;
    }
    .tenth-page .tenth-prizes-pop .coupon-text .coupon-item {
      font-size: 15px;
      line-height: 18px;
    }
    .tenth-page .tenth-prizes-pop .coupon-text .coupon-item .item-icon {
      width: 5px;
      height: 5px;
      margin-right: 9px;
    }
    .tenth-page .tenth-prizes-pop .code-tip {
      font-size: 16px;
      line-height: 24px;
      margin-top: 30px;
    }
    .tenth-pop-wrap .tenth-box .code-tip div {
      margin-bottom: 20px;
    }
    .tenth-pop-wrap .tenth-box .code-tip .copy-tip {
      left: 5px;
    }
    .tenth-page .tenth-first-customer {
      margin: 40px auto 0;
    }
    .tenth-page .tenth-first-customer .title {
      font-size: 25px;
      line-height: 30px;
      padding: 0 18px;
    }
    .tenth-page .tenth-first-customer .subtitle {
      font-size: 16px;
      line-height: 24px;
      padding: 0 13px;
      margin-top: 10px;
    }
    .tenth-page .tenth-first-customer .first-customer-wrap {
      margin-top: 23px;
    }
    .tenth-page .tenth-voice-customer {
      margin: 40px auto 0;
    }
    .tenth-page .tenth-voice-customer .title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 15px;
      padding: 0 18px;
    }
    .tenth-page .tenth-voice-customer .swiper-button-next {
      width: 12px;
      height: 20px;
      right: 13px;
    }
    .tenth-page .tenth-voice-customer .swiper-button-prev {
      width: 12px;
      height: 20px;
      left: 13px;
    }
  }
  @media screen and (width: 768px) {
    .tenth-page .tenth-milestones-mob {
      margin-top: 40px;
    }
    .tenth-page .tenth-milestones-mob .item {
      margin-right: 35px;
    }
    .tenth-page .tenth-milestones-mob .title {
      height: 151px;
      line-height: 151px;
      font-size: 50px;
    }
    .tenth-page .tenth-milestones-mob .item .year {
      font-size: 48px;
      line-height: 71px;
      margin-top: 15px;
    }
    .tenth-page .tenth-milestones-mob .item .descript {
      font-size: 24px;
      line-height: 26px;
      margin-top: 10px;
    }
    .tenth-page .tenth-cart-wrap {
      margin-top: 91px;
    }
    .tenth-page .tenth-cart-wrap .title {
      font-size: 50px;
      line-height: 60px;
    }
    .tenth-page .tenth-cart-wrap .subtitle {
      font-size: 36px;
      line-height: 48px;
      margin-top: 32px;
    }
    .tenth-page .tenth-join-now {
      margin-top: 38px;
    }
    .tenth-page .tenth-join-now .title {
      font-size: 50px;
      line-height: 55px;
    }
    .tenth-page .tenth-join-now .join-wrap img {
      transform: translateY(-100px);
    }
    .tenth-page .tenth-join-now .text-box .text {
      font-size: 30px;
      line-height: 50px;
    }
    .tenth-page .tenth-join-now .text-box .join-btn {
      width: 146px;
      height: 44px;
      border-radius: 22px;
      font-size: 26px;
      line-height: 44px;
      margin: 34px auto 0;
    }
    .tenth-page .tenth-product {
      margin-top: -54px;
    }
    .tenth-page .tenth-product .title {
      font-size: 50px;
      line-height: 60px;
    }
    .tenth-page .tab-wrap-mob-btn {
      margin-top: 25px;
    }
    .tenth-page .tab-wrap-mob-btn .button {
      height: 60px;
      font-size: 30px;
      line-height: 60px;
      margin-right: 2px;
    }
    .tenth-page .tab-wrap-mob-btn .option-btn {
      height: 60px;
      line-height: 60px;
    }
    .tenth-page .tab-wrap-mob-btn .mob-button-tab .button {
      height: 60px;
      line-height: 60px;
      font-size: 30px;
    }
    .tenth-page .tenth-product-swiper .swiper-button-prev {
      transform: scale(0.5);
    }
    .tenth-page .tenth-product-swiper .swiper-button-next {
      transform: scale(0.5);
    }
    .tenth-page .share-wrap {
      margin-top: 53px;
      padding: 0 20px;
    }
    .tenth-page .share-wrap .title {
      font-size: 50px;
      line-height: 58px;
    }
    .tenth-page .share-wrap .subtitle {
      font-size: 36px;
      line-height: 50px;
      margin-top: 31px;
    }
    .tenth-page .share-wrap .share-btn div {
      width: 204px;
      height: 48px;
      border-radius: 22px;
      font-size: 24px;
      line-height: 48px;
      margin-right: 32px;
      margin-top: 34px;
    }
    .tenth-page .share-wrap .share-btn span {
      margin-right: 7px;
    }
    .tenth-page .share-wrap .share-btn img {
      width: 32px;
      height: 32px;
    }
    .tenth-page .share-wrap .share-img {
      margin-top: 40px;
    }
    .tenth-page .tenth-content {
      margin-top: 40px;
    }
    .tenth-page .tenth-rules {
      margin: 28px 0 0;
    }
    .tenth-page .tenth-rules .title {
      height: 62px;
      font-size: 30px;
      line-height: 62px;
      padding: 0 36px;
    }
    .tenth-page .tenth-rules .rule-text {
      padding: 16px 34px 30px;
    }
    .tenth-page .tenth-rules .rule-text p {
      font-size: 24px;
      line-height: 36px;
    }
    .tenth-page .tab-wrap-content .img-wrap a {
      top: 12%;
      width: 400px;
      height: 142px;
    }
    .tenth-page .tenth-prizes-pop .coupon-text {
      margin-left: 35%;
    }
    .tenth-page .tenth-first-customer {
      margin: 40px auto 0;
    }
    .tenth-page .tenth-first-customer .title {
      font-size: 50px;
      line-height: 58px;
    }
    .tenth-page .tenth-first-customer .subtitle {
      font-size: 36px;
      line-height: 50px;
      margin-top: 20px;
    }
    .tenth-page .tenth-first-customer .first-customer-wrap {
      margin-top: 46px;
    }
    .tenth-page .tenth-voice-customer {
      margin: 50px auto 0;
    }
    .tenth-page .tenth-voice-customer .title {
      font-size: 50px;
      line-height: 58px;
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    .tenth-page .tab-wrap-content .img-wrap a {
      top: 12%;
      width: 400px;
      height: 142px;
    }
  }
</style>

<script>
  $(function() {
    var tenth_page_banner_swiper = new Swiper('.tenth-page-swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      spaceBetween: 10,
      loop: false,
      nextButton: '.tenth-page-swiper-container .swiper-button-next',
      prevButton: '.tenth-page-swiper-container .swiper-button-prev'
    })

    var tenth_voice_banner_swiper = new Swiper('.tenth-voice-swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      spaceBetween: 0,
      loop: false,
      nextButton: '.tenth-voice-swiper-container .swiper-button-next',
      prevButton: '.tenth-voice-swiper-container .swiper-button-prev'
    })

    var tenth_page_product_swiper = new Swiper('.tenth-product-swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      slidesPerView: isMobile() && window.screen.width < 1024 ? 2 : 3,
      spaceBetween: isMobile() && window.screen.width < 1024 ? 8 : 50,
      loop: false,
      nextButton: '.tenth-product-swiper-container .swiper-button-next',
      prevButton: '.tenth-product-swiper-container .swiper-button-prev'
    })
    
    function isMobile() {
      return navigator.userAgent.match(/(iPhone|iPod|Android|ios|SymbianOS|BlackBerry|webOS)/i)
    }

    // 点击播放视频
    let tenth_video = $('#tenthVideo')
    tenth_video.click(function() {
      $('#tenthVideo')[0].play()
    })
  })
</script>