<link rel="stylesheet" href="{{ 'youtube-live-discover.css' | asset_url }}">
<div class="{% unless section.settings.full_width %}layer{% endunless %} _jackery_day" style="display: none;">
  <div class="youtube-live-discover-container">

    {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}">
    {%- endif -%}

      {%- if section.settings.banner_img != blank -%}
        <img
          class="youtube-live-discover-banner object-cover object-center pc-block"
          src="{{ section.settings.banner_img | img_url: '1920x' }}"
          loading="lazy" alt="{{ section.settings.banner_img.alt | escape }}">
      {%- endif -%}

      {%- if section.settings.m_banner_img != blank -%}
        <img
          class="youtube-live-annoucement-banner object-cover object-center mobile-block"
          src="{{ section.settings.m_banner_img | img_url: '750x' }}"
          loading="lazy" alt="{{ section.settings.m_banner_img.alt | escape }}">
      {%- endif -%}
    
    {%- if section.settings.link != blank -%}
    </a>
    {%- endif -%}

    <div class="absolute left-0 right-0 youtube-live-discover-text main-container text-center font-bold">
      {%- for block in section.blocks -%}
			<span class="youtube-live-discover-title">{{ block.settings.block_title | escape }}</span>
			{%- endfor -%}
    </div>

    {%- if section.settings.button_text != blank -%}
		<div class="absolute left-0 right-0 youtube-live-discover-button main-container text-center font-bold">
      <a href="{{ section.settings.link }}">{{ section.settings.button_text | escape }}</a>
    </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "youtube live discover",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width youtube-live-discover",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "type": "textarea",
      "id": "button_text",
      "label": "Button text"
    },
		{
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
			"type": "image_picker",
			"id": "banner_img",
			"label": "Background Img"
    },
		{
			"type": "image_picker",
			"id": "m_banner_img",
			"label": "Mobile Background Img"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title Item",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
