<link rel="stylesheet" href="{{ 'swiper.min.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'youtube-live-event.css' | asset_url }}">

<div class="youtube-live-event-text">
  <h1 class="h1-title text-center">{{ section.settings.title }}</h1>
</div>

<div class="{% unless section.settings.full_width %}layer{% endunless %} _jackery_day" style="display: none;">
  <div class="swiper-container youtube_live_event_swiper-container">
    
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide-container main-container flex justify-between">
          {%- if section.settings.social_1 != blank -%}<img class="pc-block" src="{{ section.settings.social_1 | img_url: 'master' }}" loading="lazy" alt="social review">{%- endif -%}
          {%- if section.settings.m_social_1 != blank -%}<img class="mobile-block" src="{{ section.settings.m_social_1 | img_url: '750x' }}" loading="lazy" alt="social review">{%- endif -%}
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-container main-container flex justify-between">
          {%- if section.settings.social_2 != blank -%}<img class="pc-block" src="{{ section.settings.social_2 | img_url: 'master' }}" loading="lazy" alt="social review">{%- endif -%}
          {%- if section.settings.m_social_2 != blank -%}<img class="mobile-block" src="{{ section.settings.m_social_2 | img_url: '750x' }}" loading="lazy" alt="social review">{%- endif -%}
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-container main-container flex justify-between">
          {%- if section.settings.social_3 != blank -%}<img class="pc-block" src="{{ section.settings.social_3 | img_url: 'master' }}" loading="lazy" alt="social review">{%- endif -%}
          {%- if section.settings.m_social_3 != blank -%}<img class="mobile-block" src="{{ section.settings.m_social_3 | img_url: '750x' }}" loading="lazy" alt="social review">{%- endif -%}
        </div>
      </div>
    </div>

    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>

    <div class="swiper-pagination"></div>
  </div>


  <div class="swiper-container youtube_live_end_swiper-container hide">
    <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="swiper-slide-container main-container flex justify-between">
              <div class="text-content flex flex-col justify-center">
                <h1 class="h1-title">{{block.settings.slider_title | newline_to_br}}</h1>
                <div class="p-des">{{block.settings.slider_subtitle | newline_to_br}}</div>
              </div>

							{%- if block.settings.img_1 != blank -%}
								<img
									class="object-cover object-center tems-center right_img pc-block"
									src="{{ block.settings.img_1 | img_url: '530x' }}"
									loading="lazy"
									alt="{{ block.settings.img_1.alt | escape }}"
								>
							{%- endif -%}

              {%- if block.settings.m_img_1 != blank -%}
								<img
									class="object-cover object-center tems-center right_img mobile-block"
									src="{{ block.settings.m_img_1 | img_url: '660x' }}"
									loading="lazy"
									alt="{{ block.settings.m_img_1.alt | escape }}"
								>
							{%- endif -%}
            </div>
          </div>
        {%- endfor -%}
    </div>
	
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
function liveEvent() {
  console.log("liveEvent");
  function youtube_live_option(cls) {
    return {
      pagination: cls + ' .swiper-pagination',
      paginationClickable: true,
      nextButton: cls + ' .swiper-button-next', prevButton: cls + ' .swiper-button-prev'
    }
  }

  var youtube_live_event_swiper, youtube_live_end_swiper;

  youtube_live_event_swiper = new Swiper('.youtube_live_event_swiper-container', youtube_live_option('.youtube_live_event_swiper-container'));

  $api.getServerTime({ "timezone": "US/Arizona" }, function(r) {
    var target = new Date("{{ section.settings.social_time }}").getTime(), current = new Date(r.datetime).getTime();

    shopCommon.countTime(target, current, null, function() {
      // countdown After the end, hide social review and show prize
      youtube_live_event_swiper.destroy(false);
      _$$('.youtube_live_event_swiper-container').remove();

      _$$('.youtube_live_end_swiper-container').classList.remove("hide");
      youtube_live_end_swiper = new Swiper('.youtube_live_end_swiper-container', youtube_live_option('.youtube_live_end_swiper-container'))
    })
  })
}
</script>

{% schema %}
{
  "name": "youtube live event",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width youtube-live-event relative",
  "settings": [
    {"type": "checkbox", "id": "full_width", "default": true, "label": "Full width"},
    {"type": "text", "id": "title", "label": "Section Title", "default": "CERTIFICATIONS AND AWARDS"},
    {"type": "header", "content": "Slider live social setting"},
    {
      "type": "text", "id": "social_time", "label": "social review show time and prize close time", "default": "2022/05/15 00:00:00",
      "info": "rules is matter, YYYY/MM/DD hh:mm:ss, such as: 2022/05/15 00:00:00"
    },
    {"type": "image_picker", "id": "social_1", "label": "social 1"},
    {"type": "image_picker", "id": "m_social_1", "label": "Mobile social 1"},
    {"type": "image_picker", "id": "social_2", "label": "social 2"},
    {"type": "image_picker", "id": "m_social_2", "label": "Mobile social 2"},
    {"type": "image_picker", "id": "social_3", "label": "social 3"},
    {"type": "image_picker", "id": "m_social_3", "label": "Mobile social 3"}
  ],
  "blocks": [
    {
      "type": "slider", "name": "Slider live end", "limit": 4,
      "settings": [
        {"type": "image_picker", "id": "img_1", "label": "Slider Image"},
        {"type": "image_picker", "id": "m_img_1", "label": "Mobile Slider Image"},
        {"type": "textarea", "id": "slider_title", "label": "Heading"},
        {"type": "textarea", "id": "slider_subtitle", "label": "Subheading"}
      ]
    }
  ]
}
{% endschema %}
