{% comment %}
  2022-09-28 enable product images sticky, garfield
  class="product-sticky-images"
{% endcomment %}
<style>
body {overflow-x: initial;}
</style>

{% unless thumbnail_position %}
  {%- assign thumbnail_position = 'beside' -%}
{% endunless %}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  itemscope itemtype="http://schema.org/Product"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}
  {% if isModal %}
    data-lazyload-content="true"
  {% endif %}>

  {% include 'product-template-variables' %}

  <div class="page-content">
    <div class="page-width">

      <!-- HC - wrapped bc and next/prev - 20 Feb '19 -->
      <div class="bcWrapper">
      {% if settings.show_breadcrumbs and isModal != true %}
        {% include 'breadcrumbs' %}
      {% endif %}
      
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
              {{ 'products.general.previous_product' | t | link_to: prev_url }}
            {% else %}
              {{ 'products.general.previous_product' | t }}
            {% endif %}
            <span>|</span>
            {% if collection.next_product %}
              {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
              {{ 'products.general.next_product' | t | link_to: next_url }}
            {% else %}
              {{ 'products.general.next_product' | t }}
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
      </div>

      <div class="grid">
        <div class="grid__item {{ product_image_width }} product-sticky-images">
          {% include 'product-images', section_id: section_id, isModal: isModal, thumbnail_position: thumbnail_position %}
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {% if settings.vendor_enable %}
              <div class="product-single__vendor" itemprop="brand">{{ product.vendor }}</div>
            {% endif %}

            {% if isModal %}
              <p class="h2 product-single__title" itemprop="name">{{ product.title }}</p>
            {% else %}
              <h1 class="h2 product-single__title" itemprop="name">{{ product.title }}</h1>
            {% endif %}

            {% if settings.enable_product_reviews and settings.reviews_layout == 'full' %}
              {% if isModal %}
                {%- assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id -%}
              {% else %}
                {%- assign review_link = '#Reviews-' | append: product.id -%}
              {% endif %}
              <a href="{{ review_link }}" class="product-single__review-link">sss
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </a>
            {% endif %}

            {% if settings.sku_enable %}
              <p id="Sku-{{ section_id }}" class="product-single__sku">
              SKU:
                {% if current_variant.sku %}
                  {{ current_variant.sku }}
                {% endif %}
              </p>
            {% endif %}

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <div class="prices">
              {% if product.compare_at_price_max > product.price %}
                {%- assign hide_sale_price = true -%}
                {% if current_variant.compare_at_price %}
                  {%- assign hide_sale_price = false -%}
                {% endif %}
                <span id="PriceA11y-{{ section_id }}" class="visually-hidden" aria-hidden="{{ hide_sale_price }}">
                    {{ 'products.general.regular_price' | t }}
                </span>
                <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                  <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </span>
                </span>
                <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% else %}
                <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              {% endif %}

              <span id="ProductPrice-{{ section_id }}"
                class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}"
                itemprop="price"
                content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>
              <!-- current variant {{ current_variant.price }} -->
              {%- if current_variant.price >= settings.affirm_threshold_amount -%}
              <style>
                .affirm-as-low-as {font-size: var(--font-normal);}
                .affirm-product.loaded, .affirm-cart-drawer {margin-top: 5px;}
                .affirm-ala-price {font-weight: bold;}
                .affirm-modal-trigger {font-size: 0;}
                .affirm-modal-trigger::before {content: "See if you qualify"; font-size: var(--font-normal); text-decoration: underline;}
              </style>
              <p class="affirm-as-low-as affirm-product" data-page-type="product" data-amount="{{ current_variant.price }}"></p>
              {%- endif -%}
              </div>

              {% if settings.inventory_enable %}
                <script>
                  // Store inventory quantities in JS because they're no longer
                  // available directly in JS when a variant changes.
                  // Have an object that holds all potential products so it works
                  // with quick view or with multiple featured products.
                  window.inventories = window.inventories || {};
                  window.inventories['{{section_id}}'] = {};
                  var inv_qty = {};
                   {% for variant in product.variants %}
                    window.inventories['{{section_id}}'][{{variant.id}}] = {{ variant.inventory_quantity | default: 0 }};
                   {% endfor %}
                </script>

                {%- assign inventory_visible = false -%}
                {% if current_variant.inventory_management == 'shopify' %}
                  {%- assign inventory_visible = true -%}
                {% endif %}
                {% if current_variant.inventory_quantity == 0 %}
                  {%- assign inventory_visible = false -%}
                {% endif %}
                <div
                  id="ProductInventory-{{ section_id }}"
                  class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                  >
                  {% if current_variant.available %}
                    {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
                  {% endif %}
                </div>
              {% endif %}

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              <hr class="hr--medium">

              {% unless isModal %}
                {% comment %}
                  Shopify's product form attaches a number of tracking
                  scripts that cause slower load times and false statistics.
                  Quick view modals request these on-demand.
                {% endcomment %}
               {% include 'product-for-sale-form', section_id: section_id %}
              {% else %}
                <div id="ProductFormHolder-{{ section_id }}" data-url="{{ product.url }}"></div>
              {% endunless %}

              <!-- HC - added product description - 19 Feb '19 -->
              <p class="product-description-title">
                {% comment %} {{ 'products.general.description' | t }} {% endcomment %}
              </p>
              <div class="product-description">
                {{ product.description }}
              </div>
              <i class="learmore">
                <svg viewBox="0 0 1024 1024" width="12" fill="currentColor"><path d="M500.8 604.779L267.307 371.392l-45.227 45.27 278.741 278.613L779.307 416.66l-45.248-45.248z"></path></svg>
              </i>
              <script>
                var p_d_h = document.querySelector(".product-description"), learmore = document.querySelector(".learmore");
                p_d_h.dataset.height = p_d_h.clientHeight;
                p_d_h.style.maxHeight = "200px";

                learmore.onclick = function() {
                  if (p_d_h.className.indexOf("unfold") >= 0) {
                    p_d_h.classList.remove("unfold");
                    p_d_h.style.maxHeight = "200px"
                  } else {
                    p_d_h.classList.add("unfold");
                    p_d_h.style.maxHeight = p_d_h.dataset.height + 'px'
                  }
                }
              </script>

              {% unless section.settings.description_style == 'full' %}
                <div class="product-single__description rte" itemprop="description">
                  {% include 'product-description-tabs' %}
                </div>

                {% include 'product-additional-content', section_id: section_id %}
              {% endunless %}

            </div>
            
            {% if social %}
             {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} 2021 运营os 新版本优惠券折扣 {% endcomment %}
<link rel="stylesheet" type="text/css" href='{{ "coupon.css" | asset_url }}' />
{% render 'defer-script' with 'coupon.js' %}